# Dependencias
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
/.next/
/out/
/build

# Entorno y Secretos (CRÍTICO)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# Excepción: ¡SÍ subir el ejemplo!
!.env.example

# Logs y Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
*.log.*

# Testing
/coverage
*.lcov
.nyc_output

# Base de Datos (Archivos locales de SQLite si se usaran)
*.db
*.sqlite
*.sqlite3
*.sqlite-journal

# IDEs y Editores
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Otros archivos generados o temporales
deploy.zip
*.backup
_secure_backup/
